.navBar {
  display: flex;
  justify-content: center;
  position:relative;
  /* display: flex;
  justify-content: center;
  position:relative; */

  background-color: dimgrey;
  color:white;
}
.header {
  text-align:center;
  margin-left:20%;
  width: 80%;
}
.nav-left {
  /*position: absolute; 
  right: 0;*/
  width: 20%;
}

.btn{
  margin-top: 20px;
  position: absolute;
  
  padding: 15px 32px;
  background-color: darkgray;
  border: 1px dimgray;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  
} 

.btn:hover{
  background-color: rgb(88,88,88);
}